<h1>Listing all products</h1>

<table ng-controller="ProductsController">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  <tr ng-repeat="product in products">
    <td class="product-name">
      {{product.name}}
    </td>
    <td class="product-price">
      {{product.price}}
    </td>
    <td class="product-details">
      {{product.description}}
    </td>
    <td class="product-buttons" cart-buttons="{{product.id}}"></td>
    <td class="product-view">
      <a href="/products/{{product.id}}">
        <button>View product details</button>
      </a>
    </td>
  </tr>
</table>

<%= button_to 'View the Cart', cart_path(session[:cart_id]), method: :get, class: :buttons %>
<%= button_to 'Buy this Cart', buy_cart_path(session[:cart_id]), data:{:confirm => "Confirm?"}, class: :buttons %>
<% if current_user %>
  <%= button_to 'View my Orders', orders_path(current_user), class: :buttons %>
  <% if current_user.admin %>
    <%= button_to 'View all Orders', all_orders_path, class: :buttons %>
    <%= button_to 'New product', new_product_path, method: :get, class: :buttons %>
  <% end %>
<% end %>











