<h1>Listing all products</h1>

<table>
  <tr>
    <th><strong>Name:</strong></th>
    <th><strong>Price:</strong></th>
  </tr>
  <tr ng-repeat="product in products.all">
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td><a href="/products/{{product.id}}"><button>View product details</button></a></td>
    <td><button ng-click="remove(product.id, $index)">-</button></td>
    <td>{{cart.cart[$index]}}</td>
    <td><button ng-click="add(product.id, $index)">+</button></td>
  </tr>
</table>
<br>

<%= button_to 'View the Cart', cart_path(session[:cart_id]), method: :get, class: :buttons %>
<%= button_to 'Buy this Cart', buy_cart_path(session[:cart_id]), data:{:confirm => "Confirm?"}, class: :buttons %>
<% if current_user %>
  <%= button_to 'View my Orders', orders_path(current_user), class: :buttons %>
  <% if current_user.admin %>
    <%= button_to 'View all Orders', all_orders_path, class: :buttons %>
    <%= button_to 'New product', new_product_path, method: :get, class: :buttons %>
  <% end %>
<% end %>











