<h1>Listing all products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  <tr ng-repeat="product in products">
    <td class="product-name">
      {{product.name}}
    </td>
    <td class="product-price">
      {{product.price | number: 2}}
    </td>
    <td class="product-details">
      {{product.description}}
    </td>
    <td class="product-buttons" cart-buttons="{{product.id}}"></td>
    <td class="product-view">
      <a href="/products/{{product.id}}" class="btn">View product details</a>
    </td>
  </tr>
</table>

<%= link_to 'View the Cart', cart_path(session[:cart_id]), class: :btn %>
<%= link_to 'Buy this Cart', buy_cart_path(session[:cart_id]), data:{:confirm => "Confirm?"}, class: :btn %>
<% if current_user %>
  <%= link_to 'View my Orders', orders_path(current_user), class: :btn %>
  <% if current_user.admin %>
    <%= link_to 'View all Orders', all_orders_path, class: :btn %>
    <%= link_to 'New product', new_product_path, class: :btn %>
  <% end %>
<% end %>











