
<h1>Listing all products</h1>

<table>
  <tr>
    <td><strong>Name:</strong></td>
    <td><strong>Price:</strong></td>
  </tr>
  <% @products.each do |product| %>
    <% s = 0 %>
    <tr><%= render "product_details", product: product %></tr>
  <% end %>
</table>
<br>

<% link_to 'Add products to Cart', products_path, class: :buttons %>
<%= button_to 'View the Cart', cart_path(session[:cart_id]), method: :get, class: :buttons %>
<%= button_to 'Buy this Cart', buy_cart_path(session[:cart_id]), data:{:confirm => "Confirm?"}, class: :buttons %>
<% if current_user %>
  <%= button_to 'View my Orders', orders_path(current_user), class: :buttons %>
  <% if current_user.admin %>
    <%= button_to 'View all Orders', all_orders_path, class: :buttons %>
    <%= button_to 'New product', new_product_path, method: :get, class: :buttons %>
  <% end %>
<% end %>











